body {
	padding: 0;
	margin: 0;
}

#side {
	width: 20%;
	height:100vh;
	position: fixed;
	float: left;
	background-image: url("../img/side_back.png");
	margin: 0;
}


.select, .insert, .delete {
	width: 80%;
	height: 60px;
	margin: 30px auto 0px auto;
	padding: auto;
	border: solid 1px black;
	text-align: center;
	line-height: 25px;
	border-radius: 8px;
	background-color: rgb(153, 153, 255, 0.1);
	color: white;
	transition-duration: 0.4s;
}

.select:hover, .insert:hover, .delete:hover {
	background-color: rgb(153, 153, 255, 0.4);
}

#wrap {
	width: 80%;
	height:100%;
	float: right;
	background-color: white;
	margin: auto;
}

#wrap-insert {
	width: 80%;
	height:100vh;
	float: right;
	background-color: white;
	margin: 0;
}

#wrap-style {
	width: 60%;
	margin: auto;
	padding-top: 100px;
}

table {
	margin: auto;
	border-spacing: 0;
}

th {
	text-align: left;
}

.td_first {
	width: 50px;
	text-align: center;
}

.td_other {
	width: 150px;
}

.td_last {
	width: 100px;
}

.even {
	background-color: #8eb9ff;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}


