body {
	background-image: url("../img/back.png");
}

#wrap {
	width: 250px;
	margin: auto;
}

#search {
	background-color: rgba(255, 251, 45, 0.3);
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 15px 15px 0px 15px;
	border: 1px solid #696969;
}

#message {
	background-color: #FFE680;
	border-radius: 15px 15px 0px 15px;
	text-align: center;
	border: 1px solid #696969;
}

#result {
	padding: 10px;
	background-color:  rgba(255, 251, 45, 0.4);
	margin-bottom: 2px;
	border-radius: 15px 0px 0px 0px;
	border: 1px solid #696969;
}

#result img {
	float: left;
	max-height: 40px;
}

.top_icon {
	font-size: 180px;
	height: 250px;
	color:white;
	margin-bottom: 30px;
	padding: 0px;
	transition: 0.4s ease-out; 
}

.left_icon {
	font-size:60px;
	float: left;
	width: 114px;
	color: white;
	transition: 0.4s ease-out;
}

.right_icon {
	font-size:60px;
	float: left;
	width: 114px;
	color: white;
	transition: 0.4s ease-out;
}


.left_icon:hover, .right_icon:hover, .top_icon:hover{
	color: #84a7f4;
}

